*
{
margin: 0;
padding: 0;

}
.lin1
{
display: flex;
background: blue;



}
.imagen1
{
 width: 15px;
 margin-bottom: 10px;
margin-left: 90px;
}
.separar
{
margin-left: 6px;
color: aliceblue;


}
.help
{
 color: aliceblue;
margin-left: 8px;
display: flex;
}
.submit
{
margin-left: 55%;
width:  150px;
color: aliceblue;
background-color: black;

}
.sing
{
 margin-left: 10px;
 background:  brown;
 width:  100px;
}
.segunda
{
   
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
text-align: center;
margin-top: 150px;
background-color: cornflowerblue;
}
.primero
{
background-color: cornflowerblue;

}


.imagen-manage
{
margin-right: 10px;
height: 60px;
margin-top: -10px;
}

.manager{
margin-left: 250px;
display: flex;
margin-top: 80px;

}
.branchesfoto
{
height: 50px;

}
.ya {

    display: flex;
    margin-left: 50px;

}
.parrafomanage
{
margin-top: 10px;
}
.lorem1
{
    margin-top: 10px;
}


.signopeso
{
height: 60px;
}
.peso 
{
  display: flex;
  margin-left: 65px;

}
.parrafopeso
{
    margin-top: 10px;
}
.lorem4
{
    margin-top: 10px;
}

.fotoficha
{
height: 60px;
}
.ficha
{
  display: flex;  

}

.parrafo3
{
    margin-top: 10px;
}
.lorem3
{
    margin-top: 10px;
}

.parrafobranches 
{
margin-top:10px ;

}
.lorem2
{
    margin-top: 10px;
}
.segundaparte
{
    margin-left: 300px;
    display: flex;
    margin-top: 80px;
 }
 .llavefoto
 {
height: 50px;

 }
 .llave
 {
    display: flex;
 }
 .lorem5
 {
    margin-top: 10px;
 }
 .parrafollave
 {
    margin-top: 10px;
 }

 .burbujademesnaje
 {
height:60px;

 }
 .burbujaflex
 {
    display: flex;
    margin-left: 40px;
 }
 .tercerparte
 {
    display: flex;
    margin-left: 300px;
    margin-top: 80px;
 }
 .loren6
 {
margin-top: 10px;
 }
 .parrafo-burbuja
 {
margin-top: 10px;

 }
 footer
 {
    margin-top: 60px;
    text-align: center;
   font-size: 20px;
   color: blue;
 }